{% extends 'auths/profile/user_profile_base.html' %}

{% block profil_icerik %}
    <div class="row">
        <div class="col-lg-10 pull-center" style="margin-top:20px;">
            <form action="{% url 'user-password-change' %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label class="control-label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <span class="text-danger"><b>{{ error }}</b></span>
                            {% endfor %}
                        {% else %}
                            {% if field.help_text %}
                                <span class="text-success"><b>{{ field.help_text }}</b></span>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="form-group">
                    <button class="btn btn-sm btn-success pull-right">Parola Değiştir</button>
                </div>

            </form>
        </div>
    </div>


{% endblock %}